<!doctype html>
<html lang="{{ site.LanguageCode | default "en" }}">
<head>
{{ partial "head.html" . }}
</head>
<body class="{{ block "bodyclass" . }}{{ end }}">
{{ partial "header.html" . }}
<main id="main">
{{ block "main" . }}{{ end }}
</main>
{{ partial "footer.html" . }}
{{ $js := resources.Get "js/main.js" | minify | fingerprint }}
<script src="{{ $js.RelPermalink }}" defer></script>
{{ if .IsHome }}{{ $qs := slice (resources.Get "js/search-core.js") (resources.Get "js/quick-search.js") | resources.Concat "js/quick.js" | minify | fingerprint }}<script src="{{ $qs.RelPermalink }}" defer></script>{{ end }}
</body>
</html>
